body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-image: url("/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-content {
  width: 90%;
  max-width: 900px;
  padding: 30px;
  margin: 15px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #fff;
}

.search-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
}

.search-bar {
  width: 55%;
  max-width: 400px;
  height: 50px;
  font-size: 20px;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
  color: #000;
  outline: none;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.search-bar::placeholder {
  color: #666;
}

.search-bar:focus {
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 8px rgba(0, 120, 255, 0.7);
}

.sidebar-container {
  display: flex;
  overflow: hidden;
}

.sidebar {
  display: flex;
  border-radius: 10px;
  background: rgb(220, 182, 105);
  color: #000;
  outline: none;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.theme-button {
  display: block;
  width: 90%;
  padding: 5px;
  margin: 10px;
  border: none;
  background: rgba(106, 83, 65, 0.3);
  text-align: left;
  border-radius: 5px;
  cursor: pointer;
}

.theme-button:hover,
.theme-button.active {
  background: #ceb380;
}

.clear-button {
  display: block;
  width: 90%;
  padding: 5px;
  margin: 10px;
  border: none;
  background: rgb(223, 107, 71);
  text-align: left;
  border-radius: 5px;
  cursor: pointer;
}